@using ExpenseTrackerApp.Data
@model IEnumerable<ExpenseTrackerApp.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container col-md-7">
    <div class="row">
        <h3>Categories</h3>
        @if (User.IsInRole(UserRoles.User))
        {
            <h4 class="mt-5">
                <a asp-action="Create">
                    <i class="bi bi-file-earmark-plus"></i>
                </a>
            </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IconAndName)
                            </td>
                            <td>
                                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil-fill"></i>
                                    Edit
                                </a>

                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash-fill"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="container col-md-7">
                <div class="row">
                    <h3>Sign up</h3>
                    <div class="container col-md-7">
                        <a class="btn btn-success" asp-area="Identity" asp-controller="Authentication" asp-action="Login">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </a>
                        <a class="btn btn-secondary" asp-area="Identity" asp-controller="Authentication" asp-action="Register">
                            <i class="bi bi-r-square"></i> Register
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>